#externalPreviewPopup {
    background-color: rgb(246 246 246);
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1050;
    transform: translate(0,-100%);
    transition: transform .3s ease-out,-webkit-transform .3s ease-out;
    overflow-y: scroll ;
    border-bottom: 1px solid #ddd;
    overflow-x: hidden;
}

.modal-container {
    background-color: #f6f6f6;
    width: 100%;  
    min-height: 100%;
}

.modal-header-container {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #fff;
}
.cls-modal-header-section{
    display: flex;
    width: 100%;
    align-items: center;
}
.cls-mobile-top{
    height: 8px;
    width: 60px;
    display: inline-block;
    background-color: #e8e8e8;
    border-radius: 20px;
    margin: 0px 0px 15px 0px;
}
.cls-mobile-bottom-btn{
  display: inline-block;
  padding: 20px;
  border:2px solid #e8e8e8;
  border-radius: 50%;
  margin: 15px 0px;
}
.modal-title {
    margin: 0% 1%;
    font-size: 18px;
    color: rgb(85, 85, 85);
    display: inline-block;
    vertical-align: super;
    width: 70%;
}
.cls-left-icon-modal{
    margin-right: 1%;
}
.modal-close-button {
    cursor: pointer;
    background: transparent;
    border: 0;
    float: right;
    font-size: 21px;
    font-weight: bold;
    opacity: .2;
    width: 25%;
    text-align: end;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.preview-container-fluid {
    margin: 0 auto;
    width: 100%;
}

.preview-row {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    padding: 2% 3%;
    gap:2%;
    width: 100%;
    /* position: absolute; */
    /* top: 10%; */
}
.cls-preview-mail-form-show{
    transform: translate(0%,0%);
    animation: preview-mail-show 1s;
}
.cls-preview-mail-form-hide{
    transform: translate(-100%,0%);
    animation: preview-mail-hide 1s;
}
.cls-preview-template-page-hide{   
    transform: translate(100%,0%);
    display: none;
    /* animation: preview-hide 1s; */
}
.cls-preview-template-page-show{
    transform: translate(0%,0%);
    animation: preview-show 1s;
}
.cls-preview-mail-form{
    position: absolute;
    top:10%;
    width: 100%;
}
@keyframes preview-mail-hide {
    0%{transform: translate(0%,0%);}
    100%{transform: translate(-100%,0%);}
}
@keyframes preview-mail-show {
    from{transform: translate(-100%,0%);}
    to{transform: translate(0%,0%);}
}
@keyframes preview-show {
    from{transform: translate(100%,0%);}
    to{transform: translate(0%,0%);}
}
@keyframes preview-hide {
    from{transform: translate(0%,0%);}
    to{transform: translate(100%,0%);}
}
.preview-col-sm-8 {
    grid-column: span 8;
}

.preview-col-sm-4 {
    grid-column: span 4;
}
.esdev-desktop-device-screen {
    background-color: #ffffff;
}
#iframeDesktop{
    width: 100%;
    height: 730px;
    background-color: #f8f9fd;
}
.esdev-desktop-device {
    background: #f8f9fd;
    border: 2px solid #e8e8e8;
    font-size: 0;
    position: relative;
    border-radius: 10px 10px 3px 3px;;
}
.esdev-email-window-panel {
    padding: 15px 15px 12px;
    border-bottom: 1px solid #e8e8e8;
    font-size: 14px;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 10px 10px 0px 0px;
}
.cls-user-image-popup{
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 2px solid #ddd;
    border-radius: 30px;
    padding: 2px;
}
.cls-title-section{
    margin: 0px 0px 0px 5px;
    width: 100%;
    padding: 2px;
}
.cls-dummy-title-width-reduced{
    width: 40% !important;
}
.cls-dummy-title{
    grid-column: span 6;
    height: 6px;
    background-color: #e8e8e8;
}
.esdev-email-user-avatar {
    float: left;
    color: #e8e8e8 !important;
    text-shadow: none !important;
    font-size: 16px !important;
}

.esdev-email-subject {
    padding-left: 13px;
    padding-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.esdev-mobile-device {
    position: relative;
    height: 700px;
    width: 344px;
    border-radius: 40px;
    padding: 25px 10px 60px;
    background: #fff;;
    border: 2px solid #e8e8e8;
    text-align: center;
    margin: 0 auto;
}

.esdev-mobile-device-screen {
    box-shadow: 0 0 0 1px #e8e8e8;
    border-radius: 2px;
}
.esdev-mobile-device-screen .esdev-mail-bottom-bar {
    margin-top: -5px;
}
.cls-popup-show{ 
  transform: translate(0,0%)!important;
}
.cls-next-arrow-section{
    position: absolute;
    right: 20%;
    transition: 1s;
}
.cls-send-mail-btn:hover .cls-next-arrow-section{
    right: 10%;
}
/**
 * Desc : Media query included for responsive screen
 **/
 @media only screen 
 and (min-width: 1920px) 
 and (max-width: 2560px)  {
    .preview-col-sm-8{
        grid-column: span 16;
    }
    .preview-col-sm-4{
        grid-column: span 4;
    }
}
 @media only screen 
 and (min-width: 1750px) 
 and (max-width: 1920px)  {
    .preview-col-sm-8{
        grid-column: span 16;
    }
    .preview-col-sm-4{
        grid-column: span 4;
    }
}
@media only screen 
and (min-width: 1500px) 
and (max-width: 1750px)  {
    .preview-col-sm-8{
        grid-column: span 15;
    }
    .preview-col-sm-4{
        grid-column: span 5;
    }

}
 @media only screen 
 and (min-width: 1366px) 
 and (max-width: 1500px)  {
    .preview-row{
        padding: 2% 5% 2% 2%;
        gap: 4%;
    }
    .preview-col-sm-8{
        grid-column: span 14;
    }
    .preview-col-sm-4{
        grid-column: span 6;
    }
    #iframeDesktop {
        height: 680px;
    }
}
@media only screen 
and (min-width: 1200px) 
and (max-width: 1366px)  {
   .preview-row{
       padding: 2% 5% 2% 2%;
       gap: 4%;
   }
   .preview-col-sm-8{
       grid-column: span 14;
   }
   .preview-col-sm-4{
       grid-column: span 6;
   }
   #iframeDesktop {
       height: 450px;
   }
}

@media only screen 
and (min-width: 1024px) 
and (max-width: 1200px)  {
    .preview-row{
        padding: 2% 3% 2% 1%;
        gap: 2%;
    }
   .preview-col-sm-8{
       grid-column: span 13;
   }
   .preview-col-sm-4{
       grid-column: span 7;
   }
   #iframeDesktop {
    height: 450px;
    }
}
 @media only screen 
 and (min-width: 280px) 
 and (max-width: 1024px)  {
    .preview-col-sm-8{
        grid-column: span 20;
    }
    .preview-col-sm-4{
        grid-column: span 20;
    }
    #iframeDesktop {
        height: 450px;
    }
} 
/* .esdev-desktop-device:before {
    content: "―–";
    display: block;
    background: #e8e8e8;
    position: absolute;
    margin-top: 16px;
    border-radius: 10px;
    margin-left: 47px;
    font-size: 73px;
    color: #e8e8e8;
    line-height: 0;
    font-family: sans-serif;
} 
.esdev-mobile-device:after {
    position: absolute;
    bottom: 13px;
    left: 50%;
    margin-left: -24px;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    border: 2px solid #e8e8e8;
    content: " ";
    display: block;
}

.esdev-mobile-device:before {
    position: absolute;
    top: 22px;
    left: 50%;
    margin-left: -30px;
    width: 60px;
    background: #e8e8e8;
    height: 8px;
    border-radius: 20px;
    content: " ";
    display: block;
} */