.cls-mailing-section{
    position: absolute;
    z-index: 2;
    width: 45%;
    right: 10%;
    background-color: #f6f5f7;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 3px 0px 5px #ccc;
    transform: translate(0%,-100%);
    max-height: 260px;
    overflow-y: auto;   
}
.cls-mail-section-section-show{
    animation: openMail .69s linear;
    transform:translate(0%,0%);
}
@keyframes openMail {
    from{ transform: translate(0%,-100%)}
    to{  transform:translate(0%,0%)}
}
.cls-mail-section-section-hide{
    animation: hideMail .69s linear;
    transform:translate(0%,-100%);
}
@keyframes hideMail {
    from{ transform: translate(0%,0%)}
    to{  transform:translate(0%,-100%)}
}
.cls-mailing-form{
    padding: 10px 20px 1px 20px;
    box-shadow: 0px 0px 6px #ccc inset;
}
.cls-form-parent-label{
    display: block;
    font-size: 14px;
    font-weight: 500;
}
.cls-form-label{
    display: block;
    font-size: 14px;
    margin: 2% 0%;
    font-weight: 500;
}
.cls-form-sub-label{
    display: block;
    font-size: 8px;
    margin: 0% 0% 2% 0%;
}
.cls-form-input-text{
    width: 100%;
    display: block;
    width: 100%;
    height: 35px;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 20px;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    margin: 0px 0px 0px -1px;
}
.cls-form-input-text:focus-visible{
    outline: none;
}
.cls-form-input-checkbox{
    vertical-align: revert;
}
.cls-form-checkbox-label{
    font-size: 12px;
}
.cls-dropdown-grid-separation{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 5%;
}
.cls-dropdown-grid{
    grid-column: span 6;
}
.cls-form-input-dropdown{
    display: block;
    width: 100%;
    height: 35px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 20px;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15;
    margin: 0px 0px 0px -1px;
    padding: 0px 8px;
}
.cls-form-input-dropdown:focus-visible{
    outline: none;
}
.cls-display-details{
    display: block;
    font-size: 12px;
}

.cls-display-details > *{
    width: 120px;
    display: inline-block;
    margin: 1% 0%;
}
.cls-form-element-section{
    margin: 2% 0%;
}
.cls-send-mail-btn{
    border-radius: 17px;
    color: #fff;
    background-color: #32cb4b;
    border: #32cb4b;
    padding: 8px 15px;
    cursor: pointer;
    margin: 2%;
    font-size: 12px;
   
}
.cls-send-mail-btn-section{
    position: sticky;
    bottom: 0px;
    width: 100%;
    background-color: #f6f5f7;
    text-align: right;
    border: 1px solid #d1d1d1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.cls-arrow-icon-mail-form{
    width: 10px;
    height: 10px;
}
.cls-mail-predefined-btn{
    cursor: pointer;
}
.cls-mail-prefined-valus{
    padding: 0px 0px 5px 10px;
}
/**
 * Desc : Media query included for responsive screen
 **/
 @media only screen 
 and (min-width: 1920px) 
 and (max-width: 2560px)  {
    .cls-mailing-section {
        width: 50%;
    }
    .cls-mailing-section{
        max-height: 800px;
    }
    .cls-form-parent-label{
        font-size: 18px;
    }
    .cls-form-label{
        font-size: 18px;
        margin: 1% 0%;
    }
    .cls-form-input-text{
        height: 40px;
        font-size: 15px;
    }
    .cls-form-sub-label{
        font-size: 12px;
        margin: 0% 0% 1% 0%;
    }
    .cls-form-input-dropdown{
        height: 40px;
        font-size: 15px;
    }
    .cls-form-checkbox-label{
        font-size: 18px;
    }
    .cls-send-mail-btn{
        font-size: 15px;
        padding: 10px 35px;
    }
    .cls-display-details{
        font-size: 15px;
    }
    .cls-display-details > *{
        width: 200px;
    }
}
 @media only screen 
 and (min-width: 1750px) 
 and (max-width: 1920px)  {
    .cls-mailing-section {
        width: 50%;
    }
    .cls-mailing-section{
        max-height: 800px;
    }
    .cls-form-parent-label{
        font-size: 18px;
    }
    .cls-form-label{
        font-size: 18px;
        margin: 1% 0%;
    }
    .cls-form-input-text{
        height: 40px;
        font-size: 15px;
    }
    .cls-form-sub-label{
        font-size: 12px;
        margin: 0% 0% 1% 0%;
    }
    .cls-form-input-dropdown{
        height: 40px;
        font-size: 15px;
    }
    .cls-form-checkbox-label{
        font-size: 18px;
    }
    .cls-send-mail-btn{
        font-size: 15px;
        padding: 10px 35px;
    }
    .cls-display-details{
        font-size: 15px;
    }
    .cls-display-details > *{
        width: 200px;
    }
}
@media only screen 
and (min-width: 1500px) 
and (max-width: 1750px)  {
    .cls-mailing-section {
        width: 50%;
    }
    .cls-mailing-section{
        max-height: 750px;
    }
    .cls-form-parent-label{
        font-size: 18px;
    }
    .cls-form-label{
        font-size: 18px;
        margin: 1% 0%;
    }
    .cls-form-input-text{
        height: 40px;
        font-size: 15px;
    }
    .cls-form-sub-label{
        font-size: 12px;
        margin: 0% 0% 1% 0%;
    }
    .cls-form-input-dropdown{
        height: 40px;
        font-size: 15px;
    }
    .cls-form-checkbox-label{
        font-size: 18px;
    }
    .cls-send-mail-btn{
        font-size: 15px;
        padding: 10px 35px;
    }
    .cls-display-details{
        font-size: 15px;
    }
    .cls-display-details > *{
        width: 200px;
    }
}
 @media only screen 
 and (min-width: 1366px) 
 and (max-width: 1500px)  {
    .cls-mailing-section {
        width: 55%;
    }
    .cls-mailing-section{
        max-height: 700px;
    }
    .cls-form-parent-label{
        font-size: 18px;
    }
    .cls-form-label{
        font-size: 18px;
        margin: 1% 0%;
    }
    .cls-form-input-text{
        height: 40px;
        font-size: 15px;
    }
    .cls-form-sub-label{
        font-size: 12px;
        margin: 0% 0% 1% 0%;
    }
    .cls-form-input-dropdown{
        height: 40px;
        font-size: 15px;
    }
    .cls-form-checkbox-label{
        font-size: 18px;
    }
    .cls-send-mail-btn{
        font-size: 15px;
        padding: 10px 35px;
    }
    .cls-display-details{
        font-size: 15px;
    }
    .cls-display-details > *{
        width: 200px;
    }
}
@media only screen 
and (min-width: 1200px) 
and (max-width: 1366px)  {
    .cls-mailing-section {
        width: 55%;
    }
    .cls-mailing-section{
        max-height: 500px;
    }
    .cls-form-parent-label{
        font-size: 14px;
    }
    .cls-form-label{
        font-size: 14px;
        margin: 1% 0%;
    }
    .cls-form-input-text{
        height: 35px;
        font-size: 13px;
    }
    .cls-form-sub-label{
        font-size: 10px;
        margin: 0% 0% 1% 0%;
    }
    .cls-form-input-dropdown{
        height: 35px;
        font-size: 13px;
    }
    .cls-form-checkbox-label{
        font-size: 14px;
    }
    .cls-send-mail-btn{
        font-size: 12px;
        padding: 10px 20px;
    }
    .cls-display-details{
        font-size: 13px;
    }
    .cls-display-details > *{
        width: 200px;
    }
}

@media only screen 
and (min-width: 1024px) 
and (max-width: 1200px)  {
    .cls-mailing-section {
        width: 55%;
    }
    .cls-mailing-section{
        max-height: 450px;
    }
    .cls-form-parent-label{
        font-size: 12px;
    }
    .cls-form-label{
        font-size: 12px;
        margin: 1% 0%;
    }
    .cls-form-input-text{
        height: 25px;
        font-size: 12px;
    }
    .cls-form-sub-label{
        font-size: 10px;
        margin: 0% 0% 1% 0%;
    }
    .cls-form-input-dropdown{
        height: 25px;
        font-size: 12px;
    }
    .cls-form-checkbox-label{
        font-size: 12px;
    }
    .cls-send-mail-btn{
        font-size: 12px;
        padding: 10px 20px;
    }
    .cls-display-details{
        font-size: 12px;
    }
    .cls-display-details > *{
        width: 200px;
    }
}
 @media only screen 
 and (min-width: 280px) 
 and (max-width: 1024px)  {
    .cls-mailing-section {
        width: 45%;
    }
} 
